/* Base styles */
html {
    font-size: 62.5%;
}
body {
    font-family: Poppins, 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 15px;
    background-image: url('../img/sfondo.png');
    background-position: center center;
}
* {
    box-sizing: border-box;
}
hr {
    display: none;
}

/* HEADER */
header {
    background: linear-gradient(180deg, rgba(0,160,198,1) 0%, rgba(3,109,134,1) 68%);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    box-shadow: 0 3px 3px #444;
    margin-bottom: 1.5em;
    padding: 2em 1.5em;
}
header div img {
    max-width: 100%;
    height: auto;
}
header nav ul {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header nav li {
    list-style: none;
    margin: 0 1em;
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}

/* MAIN */
main {
    background-color: #fff;
    box-shadow: 0 3px 3px #444;
    padding: 2em 1em;
    margin-bottom: 1.5em;
}
section {
    background-color: #e3e3e3;
    padding: 1em;
    margin-bottom: 2em;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.03em;
    margin-bottom: 0.7em;
}
p, address, ul, ol, dl, blockquote {
    margin-bottom: 1.2em;
}
ul, ol {
    margin-left: 2em;
}
iframe {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 20px;
}

/* TABELLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}
thead tr {
    background-color: #3f6bca;
    color: #ffffff;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* FORM */
input, button {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}
button {
    background-color: #3f6bca;
    color: white;
}

/* FOOTER */
footer {
    background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
    box-shadow: 0 3px 3px #444;
    color: #f0f0f0;
    padding: 1em;
    text-align: center;
    font-size: 1.2rem;
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        padding: 1em 0.5em;
    }
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
    main {
        padding: 1em;
    }
    aside {
        margin-top: 2em;
    }
    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }
    th {
        text-align: left;
    }
    tr {
        margin-bottom: 1em;
    }
    input, button {
        width: calc(100% - 20px);
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.2rem;
    }
    header div img {
        width: 200px;
        height: auto;
    }
}